html,
body {
  width: 100%;
  height: 100%;
}

.send-button {
  padding: 0 15px;
}

.angkatan-label {
  display: block;
  margin: 0 5px 7px;
}

.form-subtitle {
  font-size: 1em;
  font-weight: normal;
  text-align: center;
}

@media screen and (max-width: 325px) {
  h1 {
    font-size: 1.8em;
  }
}

.form-nav-button {
  padding: 0 20px;
}

.form-feedback .vs-row {
  padding-top: 6px;
}

.form-nav-button .vs-button__content {
  padding: 5px 12px;
}

.particles-background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.form-hr {
  border: none;
  border-bottom: 1px solid #aaa;
  margin-top: 20px;
  margin-bottom: 30px;
}

.survey-question {
  margin: 0 10px 40px;
}

.vs-radio-content {
  margin: 0 10px 0 0;
}

.survey-question .vs-radio-content {
  margin: 10px 10px 0 0;
}

.page-indicator {
  position: absolute;
  top: 0;
  left: 0;
}

.bx {
  font-size: 26px;
}

.fade-enter-active,
.fade-leave-active {
  transition: 0.5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.vs-input__label--placeholder {
  font-size: 1.2em;
}

.radio-nilai {
  margin: 5px 0;
}

.radio-nilai:first-of-type {
  margin-left: 5px;
}

.vs-notification-parent {
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .vs-notification h4 {
    font-size: 1.1rem;
  }

  .vs-notification p {
    font-size: 0.9rem;
  }
}

.vs-notification h4 {
  font-size: 1rem;
}

.vs-notification p {
  font-size: 0.8rem;
}

.gender-label {
  margin: 0 0 10px 7px;
}

.form-page--1 .vs-row.gender-row {
  margin-top: 10px;
  padding-left: 7px;
}

.container {
  max-width: 480px;
  width: 95%;
  margin: 40px auto;
  box-sizing: border-box;
}

@media screen and (max-width: 425px) {
  .radio-nilai .vs-radio {
    width: 15px;
    height: 15px;
  }
}

@media screen and (max-width: 320px) {
  .radio-nilai .vs-radio {
    width: 13px;
    height: 13px;
  }

  .scale-legend {
    font-size: 0.6em;
    text-align: center;
  }
}

.blur-underlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #353535;
  overflow: hidden;
}

#form {
  background-color: white;
  position: relative;
  border-radius: 8px;
  padding: 10px;
  transition: 0.5s;
}

@media screen and (min-width: 426px) {
  #form {
    border: 1px solid lightgrey;
    padding: 35px 30px;
  }
}

.vs-dialog {
  padding-top: 20px;
}

@media screen and (min-width: 768px) {
  .vs-dialog {
    padding: 20px 30px 10px;
  }
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  text-align: center;
}

.form-page--1 .vs-row {
  margin: 0 0 30px;
}

.form-page--1 .vs-row:last-of-type {
  margin: 20px 0;
}

.vs-input {
  padding: 10px 10px;
  font-size: 1em;
}

.vs-input__label {
  font-size: 1em;
}

.form-page--3 {
  text-align: center;
}

.form-done-img {
  display: block;
  margin: 50px auto;
  max-width: 60%;
}

@media screen and (min-width: 426px) {
  .form-done-img {
    max-width: 40%;
  }
}

.vs-input-parent,
.vs-input {
  width: 100%;
}

.vs-switch {
  margin: 0 5px;
}

.notif {
  font-size: 3em;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
